%h1
	= current_user.email
%h1 all my applications
- @job_applications.all.each do |application|
	%h4
		= link_to application.company_name, edit_user_job_application_path(application.user, application)
	= link_to "Delete", [application.user, application],
		method: :delete,
		data: {confirm: 'Are you sure you want to permanently delete?'}
%br
= link_to "New job application", new_user_job_application_path
